.modal {
  padding: 20px;
}

.title {
  font-weight: 500;
}

.modalTitle {
  font-weight: 500;
  margin-bottom: 20px;
  text-align: center;
  font-size: 24px;
}

.list {
  max-height: 370px;
  overflow-y: auto;
}
