@import "./mixins";

:root {
  --link: hsl(210 89% 61%);
  --text: hsl(226 70% 42%);
  --text-muted: hsl(227 51% 70%);
  --validator: hsl(210 89% 61%);

  --header-bg: hsl(215 100% 33%);

  --bg: hsl(0 0% 100%);
  --bg-muted: rgb(63, 73, 119);
  --border: hsl(222 48% 95%);
  --input-border: hsl(220 39% 50%);

  --placeholder: rgba(255, 255, 255, 0.5);

  --success: hsl(168 71% 39%);
  --danger: hsl(356 100% 67%);
}
