@import "../styles/mixins";

.list {
  margin-bottom: 36px;
}

.block {
  align-items: center;
}

.buttonWrapper {
  @include flex();
  margin-left: 12px;
}

.button {
  background-color: var(--border);
  padding: 3px 10px;
  font-size: 10px;
  border-radius: 11px;

  &:last-child {
    margin-left: 4px;
  }
}

.icon {
  margin: 0px 6px;
}

.textAlignEnd {
  text-align: end;
}

.link {
  color: var(--text);

  &:hover {
    text-decoration: none;
  }
}
