.header {
  margin: 0px 0px 15px 0px;
}

.time {
  border-left: 1px solid rgba($color: black, $alpha: 0.2);
  border-right: 1px solid rgba($color: black, $alpha: 0.2);
  margin: 0px 10px;
  padding: 0px 10px;
}

.title {
  font-weight: 500;
}

.row {
  margin: 20px 0px;
}
