.hide {
  opacity: 0.5;
}

.tableWrapper {
  overflow-x: auto;
}

.card {
  padding: 20px 28px;
}

.table {
  color: #2043b5;
  border-collapse: collapse;

  td {
    border-top: 1px solid #ebeff8;
    padding: 10px;
    font-size: 14px;
  }

  th {
    font-weight: 500;
    font-size: 14px;
    padding: 10px;
  }

  td,
  th {
    &:first-child {
      padding: 10px 10px 10px 0px;
    }

    &:last-child {
      padding: 10px 0px 10px 10px;
    }
  }
}
