@import "../styles/mixins";

.card {
  background-color: var(--bg);
  border: 1px solid var(--border);
  border-radius: 8px;
  overflow-x: auto;
}

.default {
  --card-padding: 28px;
  padding: var(--card-padding);
}

.small {
  --card-padding: 20px;
  padding: var(--card-padding);
}

.bordered {
  padding: 0px;

  .header {
    padding: 16px var(--card-padding);
  }

  .content {
    border-top: 1px solid var(--border);
    padding: var(--card-padding);
  }
}

.titleBackground {
  background-color: #f3f5fd;
}
