@import "../styles/mixins";

.wrapper {
  @include flex();
  height: 45px;
  background-color: var(--bg);
  border: 1px solid var(--border);
  color: var(--text);
  border-radius: 8px;
  padding: 0px 12px;
  font-size: 14px;
}

.button {
  margin-right: 12px;
}

.input::placeholder {
  opacity: 50%;
}

.icon {
  width: 18px;
}
