@import "../styles/mixins";

.wrapper {
  @include flex();
  height: 45px;
  background-color: var(--card-bg);
  border: 1px solid var(--border);
  color: var(--text);
  border-radius: 8px;
  margin-bottom: 8px;
  padding: 0px 19px;
}

.button {
  margin-right: 12px;
}

.input::placeholder {
  opacity: 0.5;
}
