@import "../../styles/mixins";

.wrapper {
  position: sticky;
  top: 0;
  background-color: var(--header-bg);
  padding: 21px 24px;
  z-index: 1;
  color: var(--bg);
}

.flex {
  justify-content: space-between;
}

.logo {
  margin-right: 135px;
}

.network {
  margin-right: 30px;
}
