.form {
  display: flex;
  align-items: center;
}

.input {
  width: 400px;
  border-bottom: 1px solid rgba($color: white, $alpha: 0.5);

  &::placeholder {
    opacity: 0.5;
  }
}

.button {
  opacity: 0.5;
  width: 15px;
  height: 15px;
  margin-right: 12px;
}

.list {
  position: absolute;
  background-color: white;
  max-height: 400px;
  overflow: auto;
  margin: 0px;
  padding: 0px;
}

.item {
  padding: 10px;
  list-style: none;
  border: 1px solid gray;
}
