.list {
  position: absolute;
  background-color: white;
  max-height: 400px;
  overflow: auto;
  margin: 0px;
  padding: 0px;
}

.item {
  padding: 10px;
  list-style: none;
  border: 1px solid gray;
}

.hide {
  display: none;
}
