.card {
  padding: 20px 24px;
}

.table {
  color: var(--text);
  border-collapse: collapse;

  td {
    border-top: 1px solid var(--border);
    padding: 20px;
    font-size: 14px;
  }

  th {
    font-weight: 500;
    font-size: 12px;
    padding: 20px;
  }

  td,
  th {
    &:first-child {
      padding: 20px 20px 20px 0px;
    }

    &:nth-child(3) {
      text-align: end;
    }

    &:last-child {
      padding: 20px 0px 20px 20px;
    }
  }
}

.amount {
  text-align: end;
}

.status {
  background-color: var(--border);
  padding: 2px 8px;
  border-radius: 30px;
  font-size: 10px;
  margin-left: 8px;
}
