@import "../../styles/mixins";

.typeWrapper {
  white-space: nowrap;
}

.type {
  background-color: #ebeff8;
  border-radius: 30px;
  padding: 5px 8px;
  font-size: 10px;
  display: inline-flex;
}

.msgNum {
  margin-left: 4px;
}

.amountTitle {
  @include flex(end);
}

.amount {
  white-space: nowrap;
  justify-content: flex-end;
}

.in {
  color: #1daa8e;
}

.out {
  color: #ff5561;
}

.time {
  white-space: nowrap;
}
