@import "../../styles/mixins";

.nowrap {
  white-space: nowrap;
}

.amountTitle {
  @include flex(end);
}

.amount {
  justify-content: flex-end;
}

.in {
  color: var(--success);
}

.out {
  color: var(--danger);
}

.fee {
  text-align: end;
}
